<div class="d-flex justify-content-between">
  <p-card class="ms-5 my-5">
    <ng-template pTemplate="title">
      <div class="d-flex flex-column">
        <span class="main-title">Cryptocurrency Prices</span>
        <span class="subheader">{{ coins.length }} Assets</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="card">
        <p-table
          #dt
          [value]="coins"
          dataKey="token"
          [globalFilterFields]="['token']"
          [paginator]="true"
          [rows]="5"
          [tableStyle]="{ 'min-width': '80rem' }"
          [loading]="loading"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex justify-content-end">
              <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  (input)="
                    dt.filterGlobal($any($event.target)?.value, 'contains')
                  "
                  placeholder="Search asset"
                />
              </p-iconField>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="token" style="width: 22%">
                Asset <p-sortIcon field="token" />
              </th>
              <th pSortableColumn="closePrice" style="width: 22%">
                Price <p-sortIcon field="closePrice" />
              </th>
              <th pSortableColumn="trades" style="width: 22%">
                Trades <p-sortIcon field="trades" />
              </th>
              <th pSortableColumn="volume" style="width: 22%">
                Volume <p-sortIcon field="volume" />
              </th>
              <th pSortableColumn="trades" style="width: 22%">
                Trade Volume <p-sortIcon field="trades" />
              </th>
              <th pSortableColumn="chage" style="width: 22%">Change</th>
              <th style="width: 22%">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-coin>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img
                    [src]="getIcon(coin.token)"
                    width="32"
                    style="vertical-align: middle; margin-right: 10px"
                  />
                  <span style="font-weight: bold">{{ coin.token }}</span>
                </div>
              </td>
              <td style="color: green">
                ${{ coin.closePrice | number : "1.2-2" }}
              </td>
              <td>
                {{ previousCoins[coin.token].trades }}
              </td>
              <td>
                {{ previousCoins[coin.token].volume | number : "1.1-2" }}
              </td>
              <td style="color: green">
                ${{
                  format(
                    previousCoins[coin.token].volume *
                      previousCoins[coin.token].close_price
                  )
                }}
              </td>
              <td
                [ngStyle]="{
                  color: positiveChange(coin.token) ? 'green' : 'red'
                }"
              >
                <i
                  *ngIf="positiveChange(coin.token)"
                  class="pi pi-caret-up me-1"
                ></i>
                <i
                  *ngIf="!positiveChange(coin.token)"
                  class="pi pi-caret-down me-1"
                ></i>
                {{ changePercentages[coin.token] | number : "1.1-2" }}%
              </td>
              <td>
                <p-button
                  icon="pi pi-eye"
                  [rounded]="true"
                  (onClick)="viewCoin(coin.token)"
                />
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No assets found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-template>
  </p-card>
  <div class="d-flex flex-column me-5 my-5 justify-content-between">
    <p-card>
      <ng-template pTemplate="title">
        <div class="d-flex flex-column">
          <span class="secondary-title">Top gainers</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div style="min-width: 22rem">
          <div
            *ngFor="let coin of topGainers; let i = index"
            [ngStyle]="
              i !== topGainers.length - 1 ? { 'margin-bottom': '12px' } : {}
            "
            class="d-flex align-items-center justify-content-between"
          >
            <div>
              <img
                [src]="getIcon(coin.token)"
                width="32"
                style="vertical-align: middle; margin-right: 10px"
              />
              <span style="font-weight: bold">{{ coin.token }}</span>
            </div>
            <div class="d-flex flex-column">
              <span style="font-weight: bold; color: black"
                >${{ coin.closePrice | number : "1.2-2" }}</span
              >
              <span
                style="font-weight: bold"
                [ngStyle]="{
                  color: positiveChange(coin.token) ? 'green' : 'red'
                }"
                ><i
                  *ngIf="positiveChange(coin.token)"
                  class="pi pi-caret-up me-1"
                ></i>
                <i
                  *ngIf="!positiveChange(coin.token)"
                  class="pi pi-caret-down me-1"
                ></i>
                {{ coin.changePercentage | number : "1.1-2" }}%</span
              >
            </div>
          </div>
        </div>
      </ng-template>
    </p-card>

    <p-card>
      <ng-template pTemplate="title">
        <div class="d-flex flex-column">
          <span class="secondary-title">Top losers</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div style="min-width: 22rem">
          <div
            *ngFor="let coin of topLosers; let i = index"
            [ngStyle]="
              i !== topGainers.length - 1 ? { 'margin-bottom': '12px' } : {}
            "
            class="d-flex align-items-center justify-content-between"
          >
            <div>
              <img
                [src]="getIcon(coin.token)"
                width="32"
                style="vertical-align: middle; margin-right: 10px"
              />
              <span style="font-weight: bold">{{ coin.token }}</span>
            </div>
            <div class="d-flex flex-column">
              <span style="font-weight: bold; color: black"
                >${{ coin.closePrice | number : "1.2-2" }}</span
              >
              <span
                style="font-weight: bold"
                [ngStyle]="{
                  color: positiveChange(coin.token) ? 'green' : 'red'
                }"
                ><i
                  *ngIf="positiveChange(coin.token)"
                  class="pi pi-caret-up me-1"
                ></i>
                <i
                  *ngIf="!positiveChange(coin.token)"
                  class="pi pi-caret-down me-1"
                ></i>
                {{ coin.changePercentage | number : "1.1-2" }}%</span
              >
            </div>
          </div>
        </div>
      </ng-template>
    </p-card>

    <p-card>
      <ng-template pTemplate="title">
        <div class="d-flex flex-column">
          <span class="secondary-title">Top change</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div style="min-width: 22rem">
          <div
            *ngFor="let coin of topChange; let i = index"
            [ngStyle]="
              i !== topGainers.length - 1 ? { 'margin-bottom': '12px' } : {}
            "
            class="d-flex align-items-center justify-content-between"
          >
            <div>
              <img
                [src]="getIcon(coin.token)"
                width="32"
                style="vertical-align: middle; margin-right: 10px"
              />
              <span style="font-weight: bold">{{ coin.token }}</span>
            </div>
            <div class="d-flex flex-column">
              <span style="font-weight: bold; color: black"
                >${{ coin.closePrice | number : "1.2-2" }}</span
              >
              <span
                style="font-weight: bold"
                [ngStyle]="{
                  color: positiveChange(coin.token) ? 'green' : 'red'
                }"
                ><i
                  *ngIf="positiveChange(coin.token)"
                  class="pi pi-caret-up me-1"
                ></i>
                <i
                  *ngIf="!positiveChange(coin.token)"
                  class="pi pi-caret-down me-1"
                ></i>
                {{ coin.changePercentage | number : "1.1-2" }}%</span
              >
            </div>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
