<div class="d-flex flex-column align-items-center mt-5">
  <span class="title mb-4">Crypto Fear & Greed Index</span>
  <span class="description"
    >The Crypto Fear and Greed Index is determined by factors such as
    volatility, social media sentiment<br />
    surveys, market momentum, and additional metrics.</span
  >
</div>
<p-card>
  <ng-template pTemplate="title"
    ><span class="card-title"
      >Crypto Fear and Greed Indicator</span
    ></ng-template
  >
  <ng-template pTemplate="content"> ceqceqw</ng-template>
</p-card>
