<p-card>
  <ng-template pTemplate="title">
    <div class="d-flex flex-column">
      <span class="title d-flex align-items-center justify-content-between"
        ><div>
          <img
            [src]="getIcon(coin.token)"
            width="40"
            style="vertical-align: middle; margin-right: 10px"
          />
          {{ removeUSDT(coin.token) }}
        </div>
        <div>
          <p-button
            class="me-2"
            icon="pi pi-chart-bar"
            [text]="true"
            [raised]="true"
            [disabled]="!priceChart || chartType"
            (onClick)="switchChartType()"
          />
          <p-button
            icon="pi pi-chart-line"
            [text]="true"
            [raised]="true"
            [disabled]="!priceChart || !chartType"
            (onClick)="switchChartType()"
          /></div
      ></span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="d-flex">
      <div class="info-section d-flex flex-column">
        <div
          class="mb-4 d-flex justify-content-between align-items-center"
          [ngStyle]="{ color: positiveChange ? 'green' : 'red' }"
        >
          <span class="price">${{ coin.closePrice }}</span>
          <span
            ><i *ngIf="positiveChange" class="pi pi-caret-up me-1"></i>
            <i *ngIf="!positiveChange" class="pi pi-caret-down me-1"></i
            >{{ changePercentage | number : "1.1-2" }}%</span
          >
        </div>
        <div class="underline-div mb-5 d-flex justify-content-between">
          <span>Trades</span>
          <span class="value">{{ tokenData["trades"] }}</span>
        </div>
        <div class="underline-div mb-5 d-flex justify-content-between">
          <span>Volume</span>
          <span class="value">{{
            tokenData["volume"] | number : "1.1-2"
          }}</span>
        </div>
        <div class="underline-div mb-5 d-flex justify-content-between">
          <span>Trade Volume</span>
          <span class="value"
            >${{ format(tokenData["volume"] * tokenData["close_price"]) }}</span
          >
        </div>
        <div class="underline-div mb-5 d-flex justify-content-between">
          <span>Market Cap</span>
          <span class="value"
            >${{ format(coin.closePrice * supply.maxSupply) }}</span
          >
        </div>
        <div class="underline-div mb-5 d-flex justify-content-between">
          <span>Circulating supply</span>
          <span class="value">{{
            supply.circulatingSupply | number : "1.0-0"
          }}</span>
        </div>
        <div class="underline-div mb-5 d-flex justify-content-between">
          <span>Max supply</span>
          <span class="value">{{ supply.maxSupply | number : "1.0-0" }}</span>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <p-button
            class="me-2"
            label="Price"
            [rounded]="true"
            [outlined]="!priceChart"
            severity="contrast"
            (onClick)="switchChart(true)"
          />
          <p-button
            class="ms-2"
            label="Confidence"
            [rounded]="true"
            [outlined]="priceChart"
            severity="contrast"
            (onClick)="switchChart(false)"
          />
        </div>
      </div>
      <div #chartContainerRef class="chart-section"></div>
    </div>
  </ng-template>
</p-card>
