:host::ng-deep div.p-card.p-component {
  background-color: rgb(248, 251, 255);
  margin: 60px;
  border-radius: 30px;
}

.title {
  font-weight: bold;
  color: black;
}

.info-section {
  width: 20%;
}

.chart-section {
  height: 60vh;
  width: 80%;
  margin-left: 30px;
}

.price {
  font-weight: bold;
  font-size: x-large;
  color: black;
}

.value {
  font-weight: bold;
  font-size: large;
  color: black;
}

.underline-div {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
